
# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
.venv/

# =========================
# Ignored project files
# =========================
telegram_bot.py
test.html

# =========================
# Logs & temp files
# =========================
*.log
*.tmp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/

# =========================
# Build / binaries
# =========================
*.exe
*.zip
*.tar
*.gz

